Repository blemz/arete: changes, and which pre-commit hooks are due for each by the changed paths.
All: reflex-component-check, env-file-check, docs-check, performance-check

reflex-component-check:
  name: Reflex Component Validation
  entry: python scripts/validate_reflex_components.py
  language: system

env-file-check:
  name: Environment File Validation
  entry: python scripts/validate_env_files.py
  language: system

docs-check:
  name: Documentation Check
  entry: python scripts/check_documentation.py
  language: system

performance-check:
  name: Performance Regression Check
  entry: python scripts/check_performance.py
  language: system

Fix: Use correct Reflex icon name 'circle-alert' instead of 'alert-circle'
  .claude/settings.local.json
  src/arete/ui/reflex_app/arete/arete.py
Due: none

✅ Fixed 217 of 355 linting issues (61% complete): - ✅ Fix 97 imports outside top-level (PLC0415) - COMPLETED - ✅ Fix 71 raise without from clause (B904) - COMPLETED
  .claude/settings.local.json
  TODO.md
Due: none

Summary: Ingestion Errors Successfully Resolved ✅
  .claude/settings.local.json
  data/pdfs/Plato The Republic (Cambridge, Tom Griffith) Clean_converted.md
  ingest_restructured_text.py
  src/arete/services/provider_config_service.py
Due: none

Add quick database verification script with Neo4j and Weaviate checks
  .claude/settings.local.json
  data/pdfs/Plato The Republic (Cambridge, Tom Griffith) Clean_converted.md
  quick_verify.py
Due: none

feat: Add standalone AI restructuring script for enhanced markdown files
  .claude/settings.local.json
  README.md
  data/processed/Plato The Republic (Cambridge, Tom Griffith) Clean_enhanced.md
  restructure_enhanced_text.py
  src/arete/processing/philosophical_converter.py
  tests/test_philosophical_converter_cli.py
Due: docs-check, performance-check

fix adds load_dotenv() at line 23-24, right before importing the arete modules, so the environment variables are loaded before PhilosophicalTextRestructurer initializes.
  .claude/settings.local.json
  data/processed/Plato The Republic (Cambridge, Tom Griffith) Clean_enhanced.md
  restructure_enhanced_text.py
  src/arete/processing/philosophical_converter.py
Due: none

✅ Optimization Complete:
  restructure_enhanced_text.py
  src/arete/services/philosophical_text_restructurer.py
Due: none

Increase LLM timeout limit and adjust text chunk size for restructuring
  .claude/settings.local.json
  .env.example
  data/processed/Plato The Republic (Cambridge, Tom Griffith) Clean_ai_restructured.md
  presentation/README.md
  presentation/arete_apresentacao_pt-BR.md
  presentation/assets/diagrama_arquitetura.md
  presentation/assets/presentation_plan.md
  presentation/assets/presentation_plan_pt-BR.md
  presentation/checklist_configuracao_pt-BR.md
  presentation/demo_script_pt-BR.md
  presentation/handout_uma_pagina_pt-BR.md
  presentation/notas_apresentador_pt-BR.md
  src/arete/config.py
  src/arete/services/philosophical_text_restructurer.py
Due: env-file-check

Documentation Update Complete!
  CLAUDE.md
  README.md
  TODO.md
Due: docs-check

feat: Implement classical theme with TDD methodology (Sprint 1 Phase 1)
  planning/TODO.md
  src/arete/ui/reflex_app/assets/styles/global.css
  src/arete/ui/reflex_app/services/__init__.py
  src/arete/ui/reflex_app/services/theme_service.py
  src/arete/ui/reflex_app/tailwind.config.js
  tests/test_reflex_app/test_services/test_theme_service.py
Due: performance-check

feat: Add verification scripts for ThemeService functionality
  .claude/settings.local.json
  ingest_restructured_text.py
  verify_theme.py
  verify_theme_standalone.py
Due: none

feat: Add architecture analysis documentation for Arete Graph-RAG system adaptation to K5-K9 Tutor project
  planning/arete-edu.md
Due: none

docs: Implement Claude Code best practices for documentation
  .claude/README.md
  .claude/architecture.md
  .claude/commands/brainstorm.md
  .claude/commands/claude.md
  .claude/commands/code-quality-check.md
  .claude/commands/code-quality-fix.md
  .claude/commands/create-command.md
  .claude/commands/deepthink.md
  .claude/commands/dev-cycle.md
  .claude/commands/python-fix-aggressive.md
  .claude/conventions.md
  .claude/deployment.md
  .claude/troubleshooting.md
  .serena/memories/SOFE_Methodology_Garcia_Hoz.md
  CLAUDE.md
  arete/.claude/commands/speckit.analyze.md
  arete/.claude/commands/speckit.checklist.md
  arete/.claude/commands/speckit.clarify.md
  arete/.claude/commands/speckit.constitution.md
  arete/.claude/commands/speckit.implement.md
  arete/.claude/commands/speckit.plan.md
  arete/.claude/commands/speckit.specify.md
  arete/.claude/commands/speckit.tasks.md
  arete/.specify/memory/constitution.md
  arete/.specify/scripts/bash/check-prerequisites.sh
  arete/.specify/scripts/bash/common.sh
  arete/.specify/scripts/bash/create-new-feature.sh
  arete/.specify/scripts/bash/setup-plan.sh
  arete/.specify/scripts/bash/update-agent-context.sh
  arete/.specify/templates/agent-file-template.md
  arete/.specify/templates/checklist-template.md
  arete/.specify/templates/plan-template.md
  arete/.specify/templates/spec-template.md
  arete/.specify/templates/tasks-template.md
  planning/arete-philosophy.md
  src/arete/database/DATABASE.md
  src/arete/models/MODELS.md
  src/arete/rag/RAG.md
  src/arete/services/SERVICES.md
Due: none

test: Add TDD RED phase tests for conversation sidebar (Phase 8.5 Sprint 2)
  src/arete/ui/reflex_app/services/rag_service.py
  src/arete/ui/reflex_app/state/chat_state.py
  tests/test_reflex_app/test_components/test_conversation_sidebar.py
  tests/test_reflex_app/test_state/test_conversation_state.py
Due: performance-check

refactor: Fix RAG service imports and implement dependency injection with pragmatic TDD
  src/arete/ui/reflex_app/services/rag_service.py
  src/arete/ui/reflex_app/state/chat_state.py
  tests/test_reflex_app/test_services/test_rag_service.py
  tests/test_reflex_app/test_services/test_rag_service_FUTURE_SPEC.py
Due: performance-check

fix: Update TODO with next actions and blockers for Sprint 2 implementation
  .claude/settings.local.json
  planning/TODO.md
Due: none

Path conditions:
  reflex-component-check: any of: ^arete/.*\.py$
  env-file-check: any of: ^\.env.*$
  docs-check: any of: ^(arete/.*\.py|README\.md|docs/.*)$
  performance-check: any of: ^(arete/.*\.py|tests/.*)$
